<li class='link'>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>

  </div>
  <span class='source'>
    added yesterday by
    <a href="#">kevinlanzon@gmail.com</a>
  </span>
</li>